@model SAT.MVC.DATA.Cours
<!doctype html>
<html class="no-js" lang="en">
<body>
    <!--====== HERO PART START ======-->
    <section id="home" class="hero-area bg_cover">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-5 offset-xl-7 col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                    <div class="hero-content">
                        <h2 class="mb-30 wow fadeInUp" data-wow-delay=".2s">Kablainco Academy</h2>
                        <p class="wow fadeInUp" data-wow-delay=".4s">Striving to encourage creative and intellectual curisosity through engagement and diversity.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-left">
            @*<img src="assets/images/hero-img.png" alt="">*@
            @*<img src="assets/images/dot-shape.svg" alt="" class="shape">*@
        </div>
    </section>
    <!--====== HERO PART END ======-->
    <!--====== WELCOME PART START ======-->
    <section class="welcome-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6">
                    <div class="welcome-content">
                        <div class="section-title">
                            <h2 class="mb-35 wow fadeInUp" data-wow-delay=".2s">About us</h2>
                        </div>
                        <div class="content">
                            <p class="mb-35 wow fadeInUp" data-wow-delay=".4s">Located in the heart of Austin, TX allows us to cater to students nationwide  and internationally with our integrated online learning. </p>
                            
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="welcome-img">
                        <img src="assets/images/welcome-img.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--====== WELCOME PART ENDS ======-->
    <!--====== CATEGORIES PART START ======-->
    <section id="majors" class="categories-area pt-170 pb-170">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-lg-10 mx-auto">
                    <div class="section-title text-center">
                        <h2 class="wow fadeInUp" data-wow-delay=".2s">Majors</h2>
                        <p class="wow fadeInUp" data-wow-delay=".4s">Find out more about the courses we have to offer</p>
                    </div>
                </div>
            </div>
            <div class="row mb-30">
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                    <a href="javascript:void(0)" class="d-block category-wrapper">
                        <div class="single-category">
                            <i class="lni lni-paint-bucket"></i>
                            <h3>Art</h3>
                        </div>
                    </a>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                    <a href="javascript:void(0)" class="d-block category-wrapper">
                        <div class="single-category">
                            <i class="lni lni-code-alt"></i>
                            <h3>Development</h3>
                        </div>
                    </a>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                    <a href="javascript:void(0)" class="d-block category-wrapper">
                        <div class="single-category">
                            <i class="lni lni-target-customer"></i>
                            <h3>Marketing</h3>
                        </div>
                    </a>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                    <a href="javascript:void(0)" class="d-block category-wrapper">
                        <div class="single-category">
                            <i class="lni lni-seo"></i>
                            <h3>SEO</h3>
                        </div>
                    </a>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                    <a href="javascript:void(0)" class="d-block category-wrapper">
                        <div class="single-category">
                            <i class="lni lni-camera"></i>
                            <h3>Photography</h3>
                        </div>
                    </a>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                    <a href="javascript:void(0)" class="d-block category-wrapper">
                        <div class="single-category">
                            <i class="lni lni-bar-chart"></i>
                            <h3>Business</h3>
                        </div>
                    </a>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                    <a href="javascript:void(0)" class="d-block category-wrapper">
                        <div class="single-category">
                            <i class="lni lni-keyword-research"></i>
                            <h3>Analysis</h3>
                        </div>
                    </a>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                    <a href="javascript:void(0)" class="d-block category-wrapper">
                        <div class="single-category">
                            <i class="lni lni-android"></i>
                            <h3>IT & Software</h3>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="view-all-btn text-center">
                        <a href=@Url.Action("Index", "Cours") class="main-btn">View All Course</a> 
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--====== CATEGORIES PART ENDS ======-->
    <!--====== BLOG PART START ======-->
    <section id="blog" class="blog-area pt-170 pb-140">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-7">
                    <div class="section-title">
                        <h2 class="wow fadeInUp" data-wow-delay=".2s">From The Blog</h2>
                        <p class="wow fadeInUp" data-wow-delay=".4s">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt utlabo</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="single-blog">
                        <div class="blog-img">
                            <a href="javascript:void(0)" class="d-block">
                                <img src="assets/images/blog/blog-1.jpg" alt="">
                            </a>
                        </div>
                        <div class="blog-content">
                            <h4>
                                <a href="javascript:void(0)">
                                    Modern website design
                                    tools
                                </a>
                            </h4>
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr sed diam.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="single-blog">
                        <div class="blog-img">
                            <a href="javascript:void(0)" class="d-block">
                                <img src="assets/images/blog/blog-2.jpg" alt="">
                            </a>
                        </div>
                        <div class="blog-content">
                            <h4><a href="javascript:void(0)">How To install SSL</a></h4>
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr sed diam.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="single-blog">
                        <div class="blog-img">
                            <a href="javascript:void(0)" class="d-block">
                                <img src="assets/images/blog/blog-3.jpg" alt="">
                            </a>
                        </div>
                        <div class="blog-content">
                            <h4><a href="javascript:void(0)">Getting started with Figma</a></h4>
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr sed diam.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--====== BLOG PART ENDS ======-->
    </body>
</html>